<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>test</h1>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt">
    " 2. 在等腰△ABC中,AB=AC,其周长为20 cm,则AB边的取值范围是 (　　) <br/>n A. 1 cm"

</p>
<p>
    " 2. 在等腰△ABC中,AB=AC,其周长为20 cm,则AB边的取值范围是 (　　)<br/>↵A. 1 cm&lt;AB;&lt;4 cm　 B. 5 cm&lt;AB&lt;10 cm↵C. 4 cm&lt;AB&lt;8 cm　 D. 4 cm&lt;AB&lt;10 cm"
</p>
<div id="my">

</div>
<script>
    let dom = document.querySelector("#my")
    dom.innerHTML = "<p style='margin-top:0pt; margin-bottom:0pt; font-size:10.5pt'> 2. 在等腰△ABC中,AB=AC,其周长为20 cm,则AB边的取值范围test123456是 (　　)"+
    +"A. 1 cm<AB<4 cm　 B. 5 cm<AB<10 cm"
    +"C. 4 cm<AB<8 cm　 D. 4 cm<AB<10 cm</p>"
</script>
</body>
</html>
