<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.001.png" width="424"
                                                                                       height="99" alt=""
                                                                                       style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:方正准圆_GBK">一、</span><span
        style="font-family:方正准圆_GBK"> </span><span style="font-family:方正准圆_GBK">选择题</span></p>

<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt">
    <span
            style="font-family:方正书宋_GBK; font-style:italic">　
        　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span
        style="font-family:方正书宋_GBK; -aw-import:spaces">&#xa0;</span><span style="font-family:NEU-BZ">1</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> </span><span
        style="font-family:方正书宋_GBK">一个等腰三角形的两边长分别是</span><span style="font-family:NEU-BZ">3</span><span
        style="font-family:方正书宋_GBK">和</span><span style="font-family:NEU-BZ">7</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则它的周长为</span><span
        style="width:5.29pt; display:inline-block">&#xa0;</span><span style="font-family:方正书宋_GBK">(</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　</span><span style="font-family:方正书宋_GBK">)</span></p>

<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 17</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:2.75pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">B</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 15</span><span style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:3.34pt; display:inline-block">&#xa0;</span><span style="font-family:NEU-BZ">C</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 13</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:3.34pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">D</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 13</span><span style="font-family:方正书宋_GBK">或</span><span
        style="font-family:NEU-BZ">17</span></p>



<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">2</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">在等腰</span><span
        style="font-family:NEU-BZ">△</span><span style="font-family:NEU-BZ; font-style:italic">ABC</span><span
        style="font-family:方正书宋_GBK">中</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">=</span><span
        style="font-family:NEU-BZ; font-style:italic">AC</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">其周长为</span><span style="font-family:NEU-BZ">20 cm</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span
        style="font-family:方正书宋_GBK">边的取值范围是</span><span
        style="width:2.08pt; display:inline-block">&#xa0;</span><span style="font-family:方正书宋_GBK">(</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　</span><span style="font-family:方正书宋_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 1 cm&lt;</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">&lt;4 cm</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:21.23pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">B</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 5 cm&lt;</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">&lt;10 cm</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">C</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 4 cm&lt;</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">&lt;8 cm</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:21.82pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">D</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 4 cm&lt;</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">&lt;10 cm</span></p>




<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">3</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">如图</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">已知</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">AOB</span><span
        style="font-family:NEU-BZ">=60°</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">点</span><span style="font-family:NEU-BZ; font-style:italic">P</span><span
        style="font-family:方正书宋_GBK">在边</span><span style="font-family:NEU-BZ; font-style:italic">OA</span><span
        style="font-family:方正书宋_GBK">上</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">OP</span><span style="font-family:NEU-BZ">=12</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">点</span><span
        style="font-family:NEU-BZ; font-style:italic">M</span><span style="font-family:方正书宋_GBK">、</span><span
        style="font-family:NEU-BZ; font-style:italic">N</span><span style="font-family:方正书宋_GBK">在边</span><span
        style="font-family:NEU-BZ; font-style:italic">OB</span><span style="font-family:方正书宋_GBK">上</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ; font-style:italic">PM</span><span
        style="font-family:NEU-BZ">=</span><span style="font-family:NEU-BZ; font-style:italic">PN</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">若</span><span
        style="font-family:NEU-BZ; font-style:italic">MN</span><span style="font-family:NEU-BZ">=2</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则</span><span
        style="font-family:NEU-BZ; font-style:italic">OM</span><span style="font-family:NEU-BZ">=</span><span
        style="width:1.47pt; display:inline-block">&#xa0;</span><span style="font-family:方正书宋_GBK">(</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　</span><span style="font-family:方正书宋_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 3</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:8pt; display:inline-block">&#xa0;</span><span style="font-family:NEU-BZ">B</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 4</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:8.59pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">C</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 5</span><span style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:8.59pt; display:inline-block">&#xa0;</span><span style="font-family:NEU-BZ">D</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 6</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.002.png" width="171" height="152" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span  style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span style="font-family:NEU-HZ">3</span><span style="font-family:方正黑体_GBK">题</span><span style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.003.png" width="106" height="178" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span style="font-family:NEU-HZ">4</span><span style="font-family:方正黑体_GBK">题</span><span style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.004.png" width="152" height="133" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span  style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span  style="font-family:NEU-HZ">5</span><span style="font-family:方正黑体_GBK">题</span><span style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.005.png" width="201" height="137" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span  style="font-family:NEU-HZ">6</span><span style="font-family:方正黑体_GBK">题</span><span style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:ignore">&#xa0;</span>
</p>


<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">4</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">如图</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">在</span><span
        style="font-family:NEU-BZ">△</span><span style="font-family:NEU-BZ; font-style:italic">ABC</span><span
        style="font-family:方正书宋_GBK">中</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">=</span><span
        style="font-family:NEU-BZ; font-style:italic">AC</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">点</span><span style="font-family:NEU-BZ; font-style:italic">D</span><span
        style="font-family:方正书宋_GBK">在</span><span style="font-family:NEU-BZ; font-style:italic">AC</span><span
        style="font-family:方正书宋_GBK">上</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">且</span><span style="font-family:NEU-BZ; font-style:italic">BD</span><span
        style="font-family:NEU-BZ">=</span><span style="font-family:NEU-BZ; font-style:italic">BC</span><span
        style="font-family:NEU-BZ">=</span><span style="font-family:NEU-BZ; font-style:italic">AD</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">A</span><span
        style="font-family:方正书宋_GBK">等于</span><span style="width:3.65pt; display:inline-block">&#xa0;</span><span
        style="font-family:方正书宋_GBK">(</span><span style="font-family:方正书宋_GBK; font-style:italic">　　</span><span
        style="font-family:方正书宋_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 30°</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　　</span><span style="width:13.55pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">B</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 40°</span><span style="font-family:方正书宋_GBK; font-style:italic">　　　</span><span
        style="width:14.14pt; display:inline-block">&#xa0;</span><span style="font-family:NEU-BZ">C</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 45°</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　　</span><span style="width:14.14pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">D</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 36°</span></p>




<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">5</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">如图</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">在等腰梯形</span><span
        style="font-family:NEU-BZ; font-style:italic">ABCD</span><span style="font-family:方正书宋_GBK">中</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ">∠</span><span
        style="font-family:NEU-BZ; font-style:italic">ABC</span><span style="font-family:NEU-BZ">=2∠</span><span
        style="font-family:NEU-BZ; font-style:italic">ACB</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">BD</span><span style="font-family:方正书宋_GBK">平分</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">ABC</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ; font-style:italic">AD</span><span
        style="font-family:NEU-BZ">∥</span><span style="font-family:NEU-BZ; font-style:italic">BC</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则图中的等腰三角形有</span><span
        style="width:32.09pt; display:inline-block">&#xa0;</span><span style="font-family:方正书宋_GBK">(</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　</span><span style="font-family:方正书宋_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 1</span><span
        style="font-family:方正书宋_GBK">个</span><span style="font-family:方正书宋_GBK"> </span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:30.87pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">B</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 2</span><span style="font-family:方正书宋_GBK">个</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span style="font-family:方正书宋_GBK"> </span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:20.96pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">C</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 3</span><span style="font-family:方正书宋_GBK">个</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span style="font-family:方正书宋_GBK"> </span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:20.96pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">D</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 4</span><span style="font-family:方正书宋_GBK">个</span></p>





<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span
        style="font-family:方正书宋_GBK; -aw-import:spaces">&#xa0;</span><span style="font-family:NEU-BZ">6</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> </span><span
        style="font-family:方正书宋_GBK">如图</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">在</span><span style="font-family:NEU-BZ">▱</span><span
        style="font-family:NEU-BZ; font-style:italic">ABCD</span><span style="font-family:方正书宋_GBK">中</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">已知</span><span
        style="font-family:NEU-BZ; font-style:italic">AD</span><span style="font-family:NEU-BZ">=8 cm</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ; font-style:italic">AB</span><span
        style="font-family:NEU-BZ">=6 cm</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">DE</span><span style="font-family:方正书宋_GBK">平分</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">ADC</span><span
        style="font-family:方正书宋_GBK">交</span><span style="font-family:NEU-BZ; font-style:italic">BC</span><span
        style="font-family:方正书宋_GBK">边于点</span><span style="font-family:NEU-BZ; font-style:italic">E</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则</span><span
        style="font-family:NEU-BZ; font-style:italic">BE</span><span style="font-family:方正书宋_GBK">等于</span><span
        style="width:27.03pt; display:inline-block">&#xa0;</span><span style="font-family:方正书宋_GBK">(</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　</span><span style="font-family:方正书宋_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">A</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 2 cm</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span style="font-family:方正书宋_GBK"> </span><span
        style="font-family:方正书宋_GBK; font-style:italic">　</span><span
        style="width:16.01pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">B</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 4 cm</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　　　</span><span
        style="width:34.22pt; display:inline-block">&#xa0;</span><span style="font-family:NEU-BZ">C</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> 6 cm</span><span
        style="font-family:方正书宋_GBK; font-style:italic">　　　</span><span style="width:8.72pt; display:inline-block">&#xa0;</span><span
        style="font-family:NEU-BZ">D</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> 8 cm</span></p>





<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:方正准圆_GBK">二、</span><span
        style="font-family:方正准圆_GBK"> </span><span style="font-family:方正准圆_GBK">填空题</span></p>


<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span
        style="font-family:方正书宋_GBK; -aw-import:spaces">&#xa0;</span><span style="font-family:NEU-BZ">7</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> </span><span
        style="font-family:方正书宋_GBK">如图</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">在</span><span style="font-family:NEU-BZ">Rt△</span><span
        style="font-family:NEU-BZ; font-style:italic">ABC</span><span style="font-family:方正书宋_GBK">中</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ">∠</span><span
        style="font-family:NEU-BZ; font-style:italic">B</span><span style="font-family:NEU-BZ">=90°</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ; font-style:italic">AC</span><span
        style="font-family:方正书宋_GBK">的垂直平分线</span><span style="font-family:NEU-BZ; font-style:italic">MN</span><span
        style="font-family:方正书宋_GBK">与</span><span style="font-family:NEU-BZ; font-style:italic">AB</span><span
        style="font-family:方正书宋_GBK">交于点</span><span style="font-family:NEU-BZ; font-style:italic">D</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:NEU-BZ">∠</span><span
        style="font-family:NEU-BZ; font-style:italic">BCD</span><span style="font-family:NEU-BZ">=10°</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">则</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">A</span><span
        style="font-family:方正书宋_GBK">的度数是</span><span
        style="font-family:方正书宋_GBK; font-style:italic; text-decoration:underline">　　　　</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ; font-style:italic">&#xa0;</span>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.006.png" width="201"
                                                                                       height="220" alt=""
                                                                                       style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span
        style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span
        style="font-family:NEU-HZ">7</span><span style="font-family:方正黑体_GBK">题</span><span
        style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.007.png" width="182"
                                                                                       height="227" alt=""
                                                                                       style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>


<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span
        style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span
        style="font-family:NEU-HZ">8</span><span style="font-family:方正黑体_GBK">题</span><span
        style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10.5pt"><img src="../../../static/math/数学.008.png" width="216"
                                                                                       height="182" alt=""
                                                                                       style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline"/>
</p>


<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt"><span
        style="font-family:方正黑体_GBK">(</span><span style="font-family:方正黑体_GBK">第</span><span
        style="font-family:NEU-HZ">11</span><span style="font-family:方正黑体_GBK">题</span><span
        style="font-family:方正黑体_GBK">)</span></p>
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:ignore">&#xa0;</span>
</p>

<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">8</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">如图</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">在</span><span
        style="font-family:NEU-BZ">△</span><span style="font-family:NEU-BZ; font-style:italic">ABC</span><span
        style="font-family:方正书宋_GBK">中</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">AB</span><span style="font-family:NEU-BZ">=</span><span
        style="font-family:NEU-BZ; font-style:italic">AC</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ">∠</span><span style="font-family:NEU-BZ; font-style:italic">A</span><span
        style="font-family:NEU-BZ">=40°</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">点</span><span style="font-family:NEU-BZ; font-style:italic">D</span><span
        style="font-family:方正书宋_GBK">在</span><span style="font-family:NEU-BZ; font-style:italic">AC</span><span
        style="font-family:方正书宋_GBK">上</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:NEU-BZ; font-style:italic">BD</span><span style="font-family:NEU-BZ">=</span><span
        style="font-family:NEU-BZ; font-style:italic">BC</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">则</span><span style="font-family:NEU-BZ">∠</span><span
        style="font-family:NEU-BZ; font-style:italic">ABD</span><span style="font-family:方正书宋_GBK">的度数是</span><span
        style="font-family:方正书宋_GBK; font-style:italic; text-decoration:underline">　　　　</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ; font-style:italic">&#xa0;</span>
</p>



<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ; -aw-import:spaces">&#xa0;</span><span
        style="font-family:NEU-BZ">9</span><span style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ"> </span><span style="font-family:方正书宋_GBK">用反证法证明命题</span><span
        style="font-family:NEU-BZ">“</span><span style="font-family:方正书宋_GBK">三角形中至少有一个角大于或等于</span><span
        style="font-family:NEU-BZ">60°</span><span style="font-family:NEU-BZ">”</span><span
        style="font-family:方正书宋_GBK">时</span><span style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">第一步应假设</span><span
        style="font-family:方正书宋_GBK; font-style:italic; text-decoration:underline">　　　　　</span><span
        style="font-family:NEU-BZ; font-style:italic; text-decoration:underline">&#xa0;</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span
        style="font-family:NEU-BZ; font-style:italic">&#xa0;</span>
</p>



<!--
<p style="margin-top:0pt; margin-bottom:0pt; font-size:10.5pt"><span style="font-family:NEU-BZ">10</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ"> </span><span
        style="font-family:方正书宋_GBK">等腰三角形的顶角</span><span
        style="font-family:NEU-BZ; font-style:italic">α</span><span style="font-family:NEU-BZ">&gt;90°</span><span
        style="font-family:方正书宋_GBK">,</span><span
        style="font-family:方正书宋_GBK">如果过其顶角的顶点作一条直线将这个等腰三角形分成了两个等腰三角形</span><span
        style="font-family:方正书宋_GBK">,</span><span style="font-family:方正书宋_GBK">那么</span><span
        style="font-family:NEU-BZ; font-style:italic">α</span><span style="font-family:方正书宋_GBK">的度数为</span><span
        style="font-family:方正书宋_GBK; font-style:italic; text-decoration:underline">　　　　</span><span
        style="font-family:NEU-BZ; font-style:italic">.</span><span style="font-family:NEU-BZ; font-style:italic">&#xa0;</span>
</p>
-->

</body>
</html>
