@color: #5590F8;  /*#0CC689*/;
@color-hover:#4A82DC  /*#0BB27B*/;
@color-selected: #4A82DC/* #0BB27B*/;
@color-font: white;
@color-selected-font: #000000;
@color-background: #F5F5F5;
@color-table-striped: #ECF1F7;
